<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

   





    <link rel="stylesheet" href="botcss.css" />
    <title>HELP CENTER</title>
  </head>
  <body>
    <section>
      <h1>Dyes Arhov</h1>
      <h2>Everything you want!</h2>

      <button><i  class="fa fa-microphone"></i></button>

      <div>
        <p>You said: <em class="output-you"></em></p>
        <p>Arhov replied:<a class="linkss "> <em class="output-bot"></a></em></p>
       
      </div>  
       
    </section>
    
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script> 
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>  -->
    <script src="js/botjs.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  </body>
</html>





